*.class

# package file
*.jar
*.war
*.ear

# maven
target/

# eclipse
.settings/
.project

# idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# tmp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system file
Thumbs.db


